on:
    workflow_call:
        inputs:
            test-string:
                required: true
                type: string

jobs:
    reusable_workflow_job:
    runs-on: ubuntu-latest
    steps:
        - name: test
          run: |
              echo ${{ inputs.test-string }}
