on:
    workflow_call:
        inputs:
            config-path:
                required: true
                type: string

jobs:
    reusable_workflow_job:
    runs-on: ubuntu-latest
    steps:
        - uses: actions/labeler@v6
          with:
              configuration-path: ${{ inputs.config-path }}
