name: Send Email Notification

on:
    workflow_call:
        inputs:
            subject:
                description: "Email subject"
                required: true
                type: string
                default: "my title"
            html_body:
                description: "Email body in HTML"
                required: true
                type: string
                default: "default body"
            attachments:
                description: "Email Attachment"
                required: false
                type: string
        secrets:
            email_username:
                description: "Email Username"
                required: true
            email_password:
                description: "Email Password"
                required: true

permissions:
    contents: read

jobs:
    notification:
        name: Email Notification
        runs-on: ubuntu-latest
        steps:
            - name: Check out the repo
              uses: actions/checkout@v5

            - name: Send email notification
              uses: dawidd6/action-send-mail@v3
              with:
                  server_address: smtp.gmail.com
                  server_port: 465
                  secure: true
                  username: ${{ secrets.email_username }}
                  password: ${{ secrets.email_password }}
                  from: ${{ secrets.email_username }}
                  to: ${{ secrets.email_username }}
                  subject: ${{inputs.subject}}
                  html_body: ${{ inputs.html_body }}
                  attachments: ${{ inputs.attachments }}
