# .github/workflow/main.yaml
name: Main Workflow

on:
    workflow_dispatch:
    push:
        branches:
            - "feature-baseline-testing"

jobs:
    test_reusable:
        name: Test Reusable
        uses: ./.github/workflows/job_unit_test.yaml
        with:
            fastapi_path: app/fastapi
