on:
    workflow_dispatch:
    push:
        branches:
            - "feature-baseline-testing"

jobs:
    destroy:
        name: test main
        runs-on: ubuntu-latest
        timeout-minutes: 30
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: test reusable workflow
              uses: ./.github/workflows/job_unit_test.yaml@feature-baseline-testing
              with:
                  test-string: "main parameter"
